---
// components/RecipeCard.astro
const { recipe } = Astro.props;
import { Image } from "astro:assets";
import Badge from "../ui/Badge.astro"; // See below
---

<li
  class="group border-4 border-black bg-white shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
>
  <a href={`/recipes/${recipe.slug}`} class="flex h-full flex-col">
    <div class="border-b-4 border-black overflow-hidden">
      <Image
        src={recipe.data.image}
        alt={recipe.data.title}
        class="aspect-[4/3] w-full object-cover transition-transform group-hover:scale-105"
      />
    </div>
    <div class="p-5 flex flex-1 flex-col">
      <h2 class="mb-4 text-2xl font-black uppercase leading-tight">
        {recipe.data.title}
      </h2>
      <div class="mt-auto flex flex-wrap gap-2">
        {recipe.data.tags.map((tag: string) => <Badge tag={tag} />)}
      </div>
    </div>
  </a>
</li>
