---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");

  return recipes.map((recipe) => ({
    params: { slug: recipe.slug },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();
---

<Layout>
  <article class="mx-auto w-[90%] max-w-5xl px-4 py-10">
    <h1 class="mb-2 text-4xl font-bold tracking-tight text-gray-900">
      {recipe.data.title}
    </h1>

    <p class="mb-4 text-lg text-gray-600">
      {recipe.data.description}
    </p>

    <p class="mb-8 text-sm text-gray-500">
      Prep: {recipe.data.prepTime} min · Cook: {recipe.data.cookTime} min · Servings:
      {recipe.data.servings}
    </p>

    <Image
      src={recipe.data.image}
      alt={recipe.data.title}
      class="mb-10 max-h-125 w-full rounded-2xl object-cover shadow-sm"
    />

    <div class="grid gap-10 lg:grid-cols-5">
      <section class="lg:col-span-2">
        <h2 class="mb-4 text-xl font-semibold text-gray-900">Ingredients</h2>

        <ul class="text-gray-700">
          {
            recipe.data.ingredients.map((ingredient) => (
              <li class="grid grid-cols-3 border-b-2 text-xl py-2">
                <span class="w-20 font-medium col-span-1">
                  {ingredient.amount} {ingredient.unit}
                </span>
                <span class="col-span-2">{ingredient.name}</span>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="lg:col-span-3">
        <h2 class="mb-4 text-xl font-semibold text-gray-900">Instructions</h2>

        <div
          class="prose prose-gray max-w-none [&_ol]:list-decimal [&_li]:mb-2 text-xl"
        >
          <Content />
        </div>
      </section>
    </div>

    <aside class="mt-12 rounded-2xl bg-gray-50 p-6">
      <h2 class="mb-3 text-xl font-semibold text-gray-900">Notes</h2>

      <div class="text-gray-700">
        {recipe.data.notes}
      </div>
    </aside>
  </article>
</Layout>
